body nav {
    display: flex;
    gap: 500px;
    margin-left: 150px;
    align-items: center;

}

.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png );
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: 115px 700px, 700px 450px;
}

.bangla {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

span.color {
    color: #FD6E0A;
}

.bolder {
    font-weight: 700;
    font-size: 45px;
    margin-left: 20px;
}

.nav-links {

    list-style: none;
    align-items: center;
    display: flex;
    gap: 60px;
    margin-top: 60px;
    /* margin-right: 40px; */
}

nav ul li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

.btn-primary {
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;

}

.btn-secondary {
    background-color: white;
    color: #FD6E0A;
    padding: 12px 28px;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.button-group {
    display: flex;
    gap: 20px;
}

.banner {
    display: flex;

    align-items: center;
    justify-content: center;
    /* height: 150vh; */
    /* text-align: center; */
    margin-top: 20px;
    margin-left: 170px;
}

/* .banner-image { */
margin-right: 241px;
margin-left: 211;
margin-top: 258;
}

/* .element { */
margin-left: 450px;
}

.banner-image {
    width: 300px;
    height: 200px;
}

.about {
    background-color: #FFF8F3;
    margin-top: 130px;
    margin-bottom: 130px;
    margin-right: 230px;
    margin-left: 230px;
    border: solid 2px white;
}

.about-title {
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}

.about-paragraph {
    color: #757575;
}

.tag {
    background-color: white;
    margin-top: 131px;
    margin-bottom: 131px;
    margin-right: 157px;
    margin-left: 156px;
    border: 2px solid #000000;
    text-align: center;
}

.about-items {
    display: flex;
    justify-content: space-around;

}

.item-description {
    font-weight: bold;
    font-size: 20px;
}

.item-title {
    color: #8a8181;
}

.title {
    font-weight: bold;
    font-size: 35px;
    color: #181818;
    margin-top: 170px;
    text-align: center;
}

.description {
    color: #757575;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
}

.card-products {
    width: 280px;
    height: 350px;
    background-color: white;
    border: 2px solid white;
    padding: 30px;
    box-shadow: 0px 0px 10px rgb(129, 126, 126);

}

.card-container {
    display: flex;
    gap: 20px;
    padding-top: 50px;
    justify-content: center;
    padding-left: 230px;
    padding-right: 230px;

}

.resume-container {
    text-align: center;
    padding-top: 130px;
}

.experience-sub-title {
    color: #757575;
}

.experience-description {
    color: #757575;
}

.resume {
    display: flex;
    gap: 20px;
    padding-left: 230px;
    padding-right: 277px;
    padding-top: 20px;
    padding-bottom: 227px;
}

.footer-content {
    background-color: #FFF8F3;
}

.footer-content {
    display: flex;
    gap: 80px;
    padding-left: 200px;
    padding-top: 130px;
    padding-bottom: 200px;
}



.box-size {
    width: 420px;
    height: 50px;
    border: none;
}

.class {
    width: 420px;
    height: 40px;
    border: none;
}

.box-sizes {
    width: 320px;
    height: 100px;
    border: none;
}

.footer-description {
    display: flex;
    gap: 15px;
}

.footer-title {
    color: #474747;
}

.btn-primary-cv {
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;

}